.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff; }
  .comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 510px;
    margin: 0;
    border: 5px #ffffff solid;
    box-sizing: border-box; }
    .comparison-slider-wrapper .comparison-slider > img {
      display: block;
      width: 500px;
      height: 500px; }
    .comparison-slider-wrapper .comparison-slider .overlay {
      display: block;
      position: absolute;
      right: 0; }
    .comparison-slider-wrapper .comparison-slider .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden; }
      .comparison-slider-wrapper .comparison-slider .resize > img {
        display: block;
        width: 500px;
        height: 500px; }
      .comparison-slider-wrapper .comparison-slider .resize .overlay {
        display: block;
        position: absolute;
        left: 0; }
    .comparison-slider-wrapper .comparison-slider .divider {
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      cursor: ew-resize; }
      .comparison-slider-wrapper .comparison-slider .divider:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: -9px;
        top: 50%;
        margin-top: -10px;
        border-radius: 50%;
        background-color: #ffffff;
        transition: all 0.1s ease-in-out; }
      .comparison-slider-wrapper .comparison-slider .divider:after {
        content: "\2039\a0\203A";
        position: absolute;
        font-size: 20px;
        top: 50%;
        margin-top: -14px;
        margin-left: -8px;
        color: #000000;
        font-weight: 900;
        text-align: center;
        transition: all 0.1s ease-in-out; }
      .comparison-slider-wrapper .comparison-slider .divider.draggable:before {
        width: 40px;
        height: 40px;
        left: -18px;
        margin-top: -20px; }